*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --foreground-color-global: rgb(255,255,255);
    --foreground-color-global-2: rgb(239, 239, 240);
    --foreground-color-global-3: rgb(255, 162, 39);
    --foreground-color-global-4: #ff3217;
    --background-color-global: whitesmoke;

    --text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    font-family: Arial, Helvetica, sans-serif;

    scrollbar-width: none;

    overflow-y: scroll;


}


header{
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;

    background-color: var(--foreground-color-global-3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    z-index: 1000;

    align-items: center;
    justify-content: center;

}

h1, h2, h3{
    z-index: 1010;
}

.topHeading{
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    height: 400px;
    z-index: 0;

    justify-content: center;
    align-items: center;
}

.topHeading img{
    position: absolute;
    image-rendering: crisp-edges;
    background-color: none;
    width: 300px;
    height: 300px;

}

#menu{
    display: flex;
    position: absolute;

    width: 32px;
    height: 32px;

    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;

    left: 2%
}

#menu:hover{
    cursor: pointer;
}

#logotext{
    position: absolute;
    width: 120px;
    height: 60px;

    left: 90%;
}

.expense{
    display: flex;
    position: absolute;
    height: 70px;
    width: 200px;

    border-radius: 10%;
    background-color:#fc9331;

    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;

}

.expense h2{
    color: #000;
}

hr{
    width: 100vw;
    height: 1px;
    background-color: rgba(0,0,0,0.6);
}

table, th, td{
    border: 1px solid black;
}
table{
    width: 80%;
}


.bodyContent{
    position:  relative;
    display: flex;
    flex-direction: row;

    width: 100%;

    overflow-y: scroll;

    background-color: var(--background-color-global);
}

.content{
    position: relative;
    background-color: var(--background-color-global);
    width: 50%;
    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: scroll;

    padding-top: 80px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    z-index: 500;

    scrollbar-width: none;
}

#list{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;

    overflow-y: scroll;
    overflow-x: hidden;
}

#priceTable{
    position: absolute;
    background-color: var(--foreground-color-global-2);
    transform: translate(100%, 0);

    height: 100%;
    box-shadow: 3px 0px 7px rgba(0,0,0,0.6);
}

.content::-webkit-scrollbar{
    display: none;
}

.navCollection{
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    flex-wrap: wrap;
 
    overflow-x: scroll;
    overflow-y: scroll;

    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--foreground-color-global-2);

    scrollbar-width: none;
}

.navCollection::-webkit-scrollbar{
    display: none;
}

.itemCard{
    width: 160px;
    height: 185px;
    border-radius: 10%;
    background-color: var(--foreground-color-global);

    overflow: hidden;
    position: relative;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.4);
}

.itemCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 500;
    position: absolute;
    /* transform: translate(0, -40%); */
}

.itemCard button{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 800;
    cursor: pointer;
    border: none;
    background-color: rgba(255,255,255,0.0);
}

.itemCard button:hover{
    background-color: rgba(0,0,0,0.2);
}

.itemCardFooter{
    width: 100%;
    height: 80px;
    background-color: var(--foreground-color-global);
    font-weight: bold;

    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 600;
    bottom: 0;
}

.itemCard #name{
    position: absolute;
    /* transform: translate(0, 300%); */
    top: 45%;
    z-index: 700;
    color: white;
    text-shadow: var(--text-shadow);
}

.itemCardFooter #description{
    position: absolute;
    top: 25%
    /* transform: translate(0, -120%);   */
}
.itemCardFooter #price{
    position: absolute;
    top: 65%;
    color: var(--foreground-color-global-3);
}

.itemCardFooter:hover{
    background-color: var(--foreground-color-global-2);
}

.itemCard:hover{
    background-color: var(--foreground-color-global-2);
    cursor:pointer
}

.checkoutItem{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    height: 80px;
    background-color: var(--background-color-global);
    box-shadow: 0px 3px 2px rgba(0,0,0,0.4);
    border-radius: 2%;

    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.checkoutItem img{
    position: absolute;
    object-fit: cover;
    right: 80%;

    width: 150px;
    height: 150px;
}

.checkoutItem button{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 80%;
    width: 100px;
    height: 70px;
    border-radius: 10%;

    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-color: var(--foreground-color-global-3);
}

.checkoutItem button img{
    position: relative;
    left: 0;
    width: 32px;
    height: 32px;
}

.checkoutItem button:hover .checkoutTab button:hover{
    background-color: var(--foreground-color-global-4);
    cursor: pointer;
}

.checkoutItem h5{
    position: absolute;
}

.checkoutItem #count{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground-color-global-3);
    border-radius: 50%;
    text-shadow: var(--text-shadow);
    
    right: 94%;
    top: 55%;

    width: 32px;
    height: 32px;
}

.checkoutTab{
    visibility: hidden;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100px;
    top: 90%;

    background-color: var(--background-color-global);
    outline: black solid 1px;
    border-radius: 2%;
    z-index: 1000;

    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.checkoutTab button #icon{
    position: relative;
    width: 25px;
    height: 25px;
    object-fit: cover;

}

.checkoutTab h3{
    position: relative;
}

.checkoutTab button{
    position: absolute;
    display: flex;
    left: 80%;
    width: 80px;
    height: 60px;

    background-color: var(--foreground-color-global-3);
    border-radius: 10%;

    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.parallax{
    width: 100%;
    height: 100%;
    
    background: linear-gradient(#ffa641, #ff1e00);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* For Mobile */
@media screen and (max-width: 1080px) {
    #priceTable{
        visibility: hidden;
    }

    .content{
        width: 100%;
    }

    .checkoutTab{
        visibility: visible;
    }
}

@media screen and (min-width: 1081px){
    #priceTable{
        transform: translate(100%,0);
        visibility: visible;
    }
}